--extra-index-url https://download.pytorch.org/whl/cpu
flask
transformers
torch==2.5.1+cpu
sentencepiece==0.1.99 --only-binary=:all:
numpy==1.26.4
datasets
tqdm
numba
gunicorn==21.2.0
flask_cors
matplotlib
scikit-learn
